@import "../fonts/stylesheet.css"
$fontMontserrat: 'montserrat', sans-serif
$fontRaleway: 'raleway', sans-serif
$fontRoboto: "roboto", sans-serif
$mainWidth: 1170px
header
    width: 100%
    background-image: url("../img/photo.png")
    background-repeat: no-repeat
    background-position: center
.header
    background-color: rgba(0, 0, 0, .6)
    height: 1024px
.header-top
    margin: 0 auto
    width: $mainWidth
    padding: 40px 0 0 0
    display: flex
    justify-content: space-between
.logo
    text-decoration: none
    display: flex
    align-items: center
.logo-img
    fill: #ffffff
    transition: .3s
    width: 64px
    height: 56px
.logo-text
    display: flex
    align-items: center
    color: #ffffff
    font-family: $fontRaleway
    font-size: 34px
    font-weight: 400
    /* Text style for "Waxom" */
    letter-spacing: -1.36px
    transition: .3s
.logo:hover
    .header-logo-img
        fill: #c7b299
        transition: .3s
    .header-logo-text
        color: #c7b299
        transition: .3s
.nav-cart-search
    width: 770px
    display: flex
    justify-content: space-between
    .nav-list
        width: 637px
        // margin: 0 30px 0 0
        ul
            display: flex
            justify-content: space-between
            align-items: center
            li
                list-style: none
                .nav-item
                    text-decoration: none
                    color: #ffffff
                    font-family: $fontMontserrat
                    font-size: 14px
                    font-weight: 300
                    text-transform: capitalize
                    display: block
                    padding: 20px 0
                    transition: .3s
                .nav-item:hover
                    color: #c7b299
                    transition: .3s
.cart-search
    width: 80px
    display: flex
    justify-content: space-between
    align-items: center
.cart-btn
    background: none
    outline: none
    border: none
    display: flex
    align-items: center
    svg
        fill: #fff
        width: 18px
        height: 24px
.header-search
    width: 24px
    height: 24px
    input[type="search"]
        width: 100%
        height: 100%
        padding: 5px
        box-sizing: border-box
        color: #fff
        outline: none
        background-color: transparent
        background-image: url("../img/icon-search.png")
        background-size: contain
        background-repeat: no-repeat
        border: none
    input[type="search"]:focus
        width: 300px
        transition: width 1s ease-out
        background-position: right
        background-image: none
        border: 1px solid #fff
.header-other-part
    margin: 245px auto 0 auto
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: center
    height: 603px
.header-center-items
    display: flex
    justify-content: space-between
    align-items: center
    width: 450 + $mainWidth
.header-center
    width: $mainWidth
    height: 261px
    margin: 0 auto
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: center
.text-part
    width: 589px
    height: 156px
    display: flex
    flex-flow: column
    justify-content: space-between
.header-center-h2
    text-align: center
    color: #ffffff
    font-family: $fontRaleway
    font-size: 36px
    font-weight: 500
    margin: 0
.header-center-h1
    color: #ffffff
    font-family: $fontRaleway
    font-size: 52px
    font-weight: 800
    margin: 0
.header-center-p
    text-align: center
    width: 582px
    color: #ffffff
    font-family: $fontMontserrat
    font-size: 16px
    font-weight: 300
    line-height: 24px
    margin: 0
    hyphens: auto
.btn-a
    text-decoration: none
    border: none
    outline: none
    width: 170px
    height: 53px
    display: flex
    align-items: center
    justify-content: center
    box-shadow: inset 0 -3px 0 #736357
    border-radius: 5px
    background-color: #998675
.btn-a-span
    color: #ffffff
    font-family: $fontRaleway
    font-size: 14px
    font-weight: 800
    line-height: 23px
    text-transform: uppercase
    text-align: center
.btn-a:active
    background-color: #736357
.header-arrow
    background: none
    border: none
    fill: #fff
    transition: .3s
    width: 40px
    height: 73px
.header-arrow:hover
    fill: #998675
    transition: .3s
.header-arrow:active
    fill: #736357
.header-bottom-items
    width: 98px
    height: 15px
    display: flex
    justify-content: space-between
    align-items: center
.info-pages
    padding: 0
    width: 11px
    height: 11px
    border-radius: 50%
    background-color: #ffffff
    border: none
    opacity: .5
    transition: .3s
.info-pages:hover,
.info-pages:focus
    border: 2px solid #d3c1ad
    background: none
    transition: .3s
.main-waxom-realization-your-ideas-top-part
    width: $mainWidth - 4px
    margin: 80px auto
    display: flex
    justify-content: space-between
.main-waxom-realization-your-ideas-top-part-item
    box-sizing: border-box
    width: 266px
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: center
.main-waxom-realization-your-ideas-top-part-item-svg
    fill: #555555
    transition: .3s
    width: 50px
    height: 50px
.main-waxom-realization-your-ideas-top-part-item-span
    color: #555555
    font-family: $fontRaleway
    font-size: 22px
    font-weight: 600
    transition: .3s
.main-waxom-realization-your-ideas-top-part-item-p
    color: #8c8c8c
    font-family: $fontMontserrat
    font-size: 14px
    font-weight: 300
    line-height: 24px
.main-waxom-realization-your-ideas-top-part-item:after
    content: ""
    display: block
    margin: 30px auto 0 auto
    width: 70px
    height: 3px
    background-color: #f1eee9
    transition: .3s
.main-waxom-realization-your-ideas-top-part-item:hover:after
    background-color: #c7b299
    transition: .3s
.main-waxom-realization-your-ideas-top-part-item:hover .main-waxom-realization-your-ideas-top-part-item-span
    color: #c7b299
    transition: .3s
.main-waxom-realization-your-ideas-top-part-item:hover .main-waxom-realization-your-ideas-top-part-item-svg
    fill: #c7b299
    transition: .3s
.main-waxom-realization-your-ideas-bottom-part
    background-color: #fbfaf8
    padding: 83px 0 0 0
    min-width: $mainWidth
.main-waxom-realization-your-ideas-bottom-part-text
    height: 95px
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: center
.main-waxom-realization-your-ideas-bottom-part-text-span
    color: #555555
    font-family: $fontRaleway
    font-size: 30px
    font-weight: 600
.main-waxom-realization-your-ideas-bottom-part-text-p
    color: #8c8c8c
    font-family: $fontMontserrat
    font-size: 16px
    font-weight: 300
    line-height: 28px
    text-align: center
    width: 770px
    margin: 0
.main-waxom-realization-your-ideas-bottom-part-img
    margin: 40px auto 0 auto
    width: 1230px
    height: 482px
    position: relative
    background-image: url("../img/browser-center.png"), url("../img/browser-left.png"), url("../img/browser-right.png")
    background-repeat: no-repeat
    background-position: bottom center, bottom left, bottom right
.main-some-advertising-bg
    background-color: #f4f5f8
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%)
.main-some-advertising
    width: $mainWidth
    height: 53px
    margin: 0 auto
    padding: 49px 0
    display: flex
    justify-content: space-between
.main-some-advertising-some-txt
    display: flex
    flex-flow: column
    justify-content: space-between
.main-some-advertising-some-txt-h2
    margin: 0
    height: 27px
    color: #ffffff
    font-family: $fontRaleway
    font-size: 28px
    font-weight: 400
.main-some-advertising-some-txt-h2-span
    color: #c7b299
.main-some-advertising-some-txt-p
    margin: 0
    color: #615855
    font-family: $fontMontserrat
    font-size: 18px
    font-weight: 300
.main-some-advertising-a
    text-decoration: none
    color: #ffffff
    font-family: $fontRaleway
    font-size: 14px
    font-weight: 800
    line-height: 23px
    text-transform: uppercase
    padding: 19px 29px 20px 28px
.main-our-latest-projects
    width: $mainWidth
    margin: 81px auto 80px auto
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: center
.main-our-latest-projects-h1
    color: #555555
    font-family: $fontRaleway
    font-size: 30px
    font-weight: 600
.main-our-latest-projects-p
    text-align: center
    width: 770px
    color: #8c8c8c
    font-family: $fontMontserrat
    font-size: 16px
    font-weight: 300
    line-height: 28px
.main-our-latest-projects-div
    width: 605px
    display: flex
    justify-content: space-between
    padding: 0
    margin: 0 0 40px 0
.main-our-latest-projects-div-btn
    color: #8c8c8c
    font-family: $fontMontserrat
    font-size: 14px
    font-weight: 300
    line-height: 21px
    padding: 8px 20px
    text-transform: capitalize
    border-radius: 3px
    border: 1px solid #ebebeb
    transition: .3s
    background: none
.main-our-latest-projects-div-btn:hover
    color: #fff
    background-color: #998675
    transition: .3s
.main-our-latest-projects-items
    width: 100%
    display: flex
    flex-flow: wrap
    justify-content: space-between
    margin: 0 0 10px 0
.main-our-latest-projects-items-item
    margin: 0 0 30px 0
    width: 370px
    height: 337px
    display: flex
    flex-flow: column
    position: relative
.main-our-latest-projects-items-item-txt
    display: flex
    flex-flow: column
    align-items: flex-start
    justify-content: center
    width: 342px
    height: 100px
    padding: 0 0 0 28px
    background-color: #fbfaf8
    position: relative
.main-our-latest-projects-items-item-txt:before
    content: ""
    border: 15px solid transparent
    border-bottom: 10px solid #fbfaf8
    position: absolute
    z-index: 1
    top: -24px
    left: 19px
.main-our-latest-projects-items-item-hidden
    display: none
    position: absolute
    .main-our-latest-projects-items-item-hidden-links
        display: flex
        justify-content: center
        align-items: center
        width: 370px
        height: 237px
        background-color: rgba(0, 0, 0, .6)
        button
            border: none
            background: none
    .main-our-latest-projects-items-item-hidden-links-link:hover
        fill: #C7B299
.main-our-latest-projects-items-item-hidden-links-link
    width: 26px
    height: 26px
    fill: #fff
.main-our-latest-projects-items-item-hidden-links-link:first-child
    margin: 0 15px 0 0
.main-our-latest-projects-items-item:hover .main-our-latest-projects-items-item-hidden
    display: block
.main-our-latest-projects-items-item:hover
    .main-our-latest-projects-items-item-txt
        background-color: #362F2D
    .main-our-latest-projects-items-item-txt:before
        content: ""
        border: 15px solid transparent
        border-bottom: 10px solid #362f20
        position: absolute
        z-index: 1
        top: -24px
        left: 19px
    .main-our-latest-projects-items-item-txt-h1
        color: #ffffff
    .main-our-latest-projects-items-item-txt-span
        color: #C7B299
.main-our-latest-projects-items-item-txt-h1
    padding: 0
    margin: 0
    color: #c7b299
    font-family: $fontRaleway
    font-size: 20px
    font-weight: 500
.main-our-latest-projects-items-item-txt-span
    padding: 0
    margin: 0
    color: #d1d1d1
    font-family: $fontMontserrat
    font-size: 14px
    font-weight: 300
    line-height: 20px
.main-video
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center
    position: relative
.main-video-bg
    position: absolute
    background-color: rgba(0, 0, 0, .4)
    width: 1920px
    // Намеренно ограничил ширину думая что это видео
    height: 100%
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
.main-video-waxom-presentation-btn
    //position: absolute
    background: rgba(0, 0, 0, .2)
    width: 100px
    height: 100px
    border-radius: 50%
    border: none
    padding: 15px
    margin: -55px 0 20px 0
.video-play-btn-icon
    fill: #fff
.main-video-span
    margin: 0 0 10px 0
.main-video-p
    font-weight: 500
.video-time
    color: #c7b299
    font-weight: 600
    margin: 20px 0 0 0
.main-excellent-for-mob-devices
    width: $mainWidth
    margin: 79px auto 0 auto
    display: flex
    justify-content: space-around
.main-excellent-for-mob-devices-div
    margin: 116px 0 0 0
    width: 665px
    height: 325px
    display: flex
    flex-flow: column
    justify-content: space-between
    color: #8c8c8c
    font-family: $fontMontserrat
    font-size: 16px
    font-weight: 300
.main-excellent-for-mob-devices-div-span
    color: #555555
    font-family: $fontRaleway
    font-size: 30px
    font-weight: 600
.main-excellent-for-mob-devices-div-p
    line-height: 28px
    text-align: justify
.main-excellent-for-mob-devices-div-ul
    margin: 0 0 0 50px
.main-excellent-for-mob-devices-div-ul-li
    line-height: 32px
    list-style-image: url("../img/01.png")
    padding: 0 0 0 15px
.main-some-info-bg
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%)
.main-some-info
    width: $mainWidth
    margin: 0 auto
    padding: 69px 0 60px
    display: flex
    justify-content: space-around
    align-items: center
.main-some-info-div
    display: flex
    flex-flow: column
    align-items: center
.main-some-info-div:after
    content: ""
    display: block
    width: 30px
    height: 2px
    background-color: #fff
    margin: 30px 0 0 0
.main-some-info-div-img
    margin: 0 0 30px 0
.main-some-info-div-span
    color: #ffffff
    font-family: $fontMontserrat
    font-size: 48px
    font-weight: 300
    line-height: 36px
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: center
.main-some-info-div-span1
    color: #c7b299
    font-family: $fontMontserrat
    font-size: 14px
    font-weight: 300
    line-height: 20px
    text-transform: uppercase
    margin: 21px 0 0 0

.main-recent-posts
    padding: 82px 0 80px 0
    width: $mainWidth
    height: 590px
    margin: 0 auto
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: center
.main-recent-posts-span
    color: #555555
    font-family: $fontRaleway
    font-size: 30px
    font-weight: 600
.main-recent-posts-div
    width: 100%
    height: 560px
    margin: 0 auto
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: center
.main-recent-posts-p
    color: #8c8c8c
    font-family: $fontMontserrat
    font-size: 16px
    font-weight: 300
    line-height: 28px
    text-align: center
    width: 770px
.main-recent-posts-post
    width: $mainWidth
    min-height: 395px
    display: flex
    justify-content: space-between
.main-recent-posts-post-article
    width: 370px
    height: 385px
    display: flex
    flex-flow: column
    justify-content: space-between
    border: 1px solid #f8f8f8
.main-recent-posts-post-article:hover
    .main-recent-posts-post-article-img-bg
        display: block
    .date-span
        background-color: #c7b299
    .month-span
        background-color: #A48D72
    .main-recent-posts-post-article-div
        background-color: #3B3231
    .main-recent-posts-post-article-div-span
        color: #c7b299
    .main-recent-posts-post-article-div-p
        color: #fff
.main-recent-posts-post-article-img-bg
    width: 370px
    height: 220px
    position: absolute
    background-color: rgba(0, 0, 0, .6)
    display: none
.main-recent-posts-post-article-img
    position: relative
    display: block
.published-date
    position: absolute
    margin: 20px
    color: #ffffff
    line-height: 20px
    display: flex
    flex-flow: column
.date-span
    font-family: $fontMontserrat
    font-size: 24px
    font-weight: 300
    padding: 9px 10px
    display: flex
    justify-content: center
    align-items: center
    background-color: #363636
    border-radius: 3px 3px 0 0
    z-index: 2
.month-span
    color: #ffffff
    font-family: $fontRoboto
    font-size: 12px
    font-weight: 400
    background-color: #252525
    padding: 7px 14px
    border-radius: 0 0 3px 3px
    z-index: 2
.main-recent-posts-post-article-div
    padding: 30px 0 33px 29px
.main-recent-posts-post-article-div-span
    color: #555555
    font-family: $fontRaleway
    font-size: 20px
    font-weight: 500
.main-recent-posts-post-article-div-p
    color: #8c8c8c
    font-family: $fontMontserrat
    font-size: 14px
    font-weight: 300
    line-height: 22px
.main-recent-posts-buttons
    display: flex
    justify-content: space-between
    width: 52px
.main-recent-posts-buttons-button
    width: 22px
    height: 22px
    padding: 0
    border: none
    background: transparent
    fill: #d1d1d1
.main-recent-posts-buttons-button:hover
    fill: #c7b299
.main-recent-posts-buttons-button:active
    fill: #736357
.top-footer-bg-img
    background-image: url("../img/photo-footer.png")
    background-repeat: no-repeat
    background-position: center
.top-footer-bgc
    background-color: rgba(0, 0, 0, .7)
.top-footer
    padding: 140px 0 139px 0
    width: $mainWidth
    margin: 0 auto
    display: flex
    justify-content: space-around
    align-items: center
.top-footer-brands
    display: block
.medium-footer-bg
    padding: 80px 0 81px 0
    height: 347px
    background-color: #191919
.medium-footer
    width: $mainWidth
    margin: 0 auto
    display: flex
    justify-content: space-between
.medium-footer-about-waxom
    width: 258px
    height: 285px
    display: flex
    flex-flow: column
    justify-content: space-between
.medium-footer-about-waxom-p
    color: #555555
    font-family: $fontMontserrat
    font-size: 14px
    font-weight: 300
    line-height: 24px
    hyphens: auto
.read-more
    width: 90px
    height: 10px
    display: flex
    justify-content: space-between
    align-items: center
    text-decoration: none
.read-more-arrow
    width: 5px
    height: 8px
.read-more-span
    text-transform: capitalize
    font-family: $fontMontserrat
    font-size: 14px
    font-weight: 400
    line-height: 20px
.main-read-more
    fill: #c7b299
    color: #c7b299
.footer-read-more
    fill: #d1d1d1
    color: #d1d1d1
.medium-footer-recent-posts
    margin: 28px 0 0 0
    width: 270px
    height: 319px
    display: flex
    flex-flow: column
    justify-content: space-between
.medium-footer-part-names
    color: #fff
    font-family: $fontRaleway
    font-size: 24px
    font-weight: 700
    text-transform: capitalize
.medium-footer-recent-posts-posts
    width: 100%
    height: 269px
    display: flex
    flex-flow: column
    justify-content: space-between
.medium-footer-recent-posts-posts-post:hover
    .medium-footer-recent-posts-posts-post-time
        color: #ffffff
    .medium-footer-recent-posts-posts-post-p
        color: #c7b299
.medium-footer-recent-posts-posts-post:not(:last-child):after,
.medium-footer-our-twitter-twits-twit:not(:last-child):after
    content: ""
    display: block
    margin: 21px 0 0 0
    width: 100%
    height: 1px
    background-color: #111
.medium-footer-recent-posts-posts-post-time
    color: #363636
    font-family: $fontMontserrat
    font-size: 12px
    font-weight: 300
    line-height: 20px
.medium-footer-recent-posts-posts-post-p
    color: #555555
    font-family: $fontMontserrat
    font-size: 14px
    font-weight: 300
    line-height: 20px
    margin: 0
    hyphens: auto
.medium-footer-our-twitter
    margin: 28px 0 0 0
    width: 272px
    height: 300px
    display: flex
    flex-flow: column
    justify-content: space-between
.medium-footer-our-twitter-span
    margin: 0 0 30px 0
.medium-footer-our-twitter-twits
    width: 100%
    height: 252px
    display: flex
    flex-flow: column
    justify-content: space-between
.medium-footer-our-twitter-twits-twit
    font-family: $fontMontserrat
    font-weight: 300
    line-height: 20px
.medium-footer-our-twitter-twits-twit-txt
    color: #555555
    font-size: 14px
    margin: 0
.twit-id
    color: #00bff3
.twit-link
    color: #959595
    text-decoration: none
.twit-link:hover
    color: #c7b299
.twit-posted-time
    color: #363636
    font-family: $fontMontserrat
    font-size: 12px
.medium-footer-dribble-widget
    margin: 28px 0 0 0
    width: 271px
    height: 255px
    display: flex
    flex-flow: column
    justify-content: space-between
.medium-footer-dribble-widget-items
    width: 100%
    height: 206px
    flex-flow: wrap
    justify-content: space-between
.bottom-footer-bg
    background-color: #111111
.bottom-footer
    width: $mainWidth
    margin: 0 auto
    padding: 45px 0 52px 0
    display: flex
    justify-content: space-between
.bottom-footer-ul
    display: flex
    justify-content: space-between
    padding: 0
.bottom-footer-ul-width:first-child
    width: 401px
.bottom-footer-ul-width:last-child
    width: 320px
.bottom-footer-ul-li
    height: 14px
    color: #555555
    font-family: $fontMontserrat
    font-size: 13px
    font-weight: 300
    line-height: 20px
    list-style: none
    text-transform: capitalize
.bottom-footer-ul-li-vert-hr
    font-size: 20px
    color: #252525
    list-style: none
    margin: -3px 0 0 0
.bottom-footer-ul-li-span
    color: #959595
.bottom-footer-ul-li-a
    text-decoration: none
    color: #555555
.bottom-footer-ul-li:hover .bottom-footer-ul-li-a
    color: #c7b299