@import url(../fonts/stylesheet.css);
header {
  width: 100%;
  background-image: url("../img/photo.png");
  background-repeat: no-repeat;
  background-position: center; }

.header {
  background-color: rgba(0, 0, 0, 0.6);
  height: 1024px; }

.header-top {
  margin: 0 auto;
  width: 1170px;
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo .logo-img {
    fill: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .logo .logo-text {
    color: #ffffff;
    font-family: "raleway", sans-serif;
    font-size: 34px;
    font-weight: 400;
    /* Text style for "Waxom" */
    letter-spacing: -1.36px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.logo:hover .logo-img {
  fill: #c7b299;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
.logo:hover .logo-text {
  color: #c7b299;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.nav-cart-search {
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav-cart-search .nav-list {
    width: 637px; }
    .nav-cart-search .nav-list ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .nav-cart-search .nav-list ul li {
        list-style: none; }
        .nav-cart-search .nav-list ul li .nav-item {
          text-decoration: none;
          color: #ffffff;
          font-family: "montserrat", sans-serif;
          font-size: 14px;
          font-weight: 300;
          text-transform: capitalize;
          display: block;
          padding: 20px 0;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
        .nav-cart-search .nav-list ul li .nav-item:hover {
          color: #c7b299;
          -webkit-transition: 0.3s;
          transition: 0.3s; }

.cart-search {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.cart-btn {
  background: none;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cart-btn svg {
    fill: #fff; }

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.input-search {
  position: absolute;
  margin: 0 0 0 -800px;
  width: 800px;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  display: none; }

.search-icon {
  position: relative;
  margin: 10px 0 0 0;
  display: block;
  background: none;
  border: none;
  fill: #fff; }

.search-icon:focus .input-search {
  display: block; }

.header-other-part {
  margin: 245px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 603px; }

.header-center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1620px; }

.header-center {
  width: 1170px;
  height: 261px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-part {
  width: 589px;
  height: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-center-h2 {
  text-align: center;
  color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin: 0; }

.header-center-h1 {
  color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 52px;
  font-weight: 800;
  margin: 0; }

.header-center-p {
  text-align: center;
  width: 582px;
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

.btn-a {
  text-decoration: none;
  width: 170px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 5px;
  background-color: #998675; }

.btn-a-span {
  color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase; }

.btn-a:active {
  background-color: #736357; }

.header-arrow {
  background: none;
  border: none;
  fill: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.header-arrow:hover {
  fill: #998675;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.header-arrow:active {
  fill: #736357; }

.header-bottom-items {
  width: 98px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.info-pages {
  padding: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.info-pages:hover,
.info-pages:focus {
  border: 2px solid #d3c1ad;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.main-waxom-realization-your-ideas-top-part {
  width: 1166px;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-waxom-realization-your-ideas-top-part-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-waxom-realization-your-ideas-top-part-item-svg {
  fill: #555555;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.main-waxom-realization-your-ideas-top-part-item-span {
  color: #555555;
  font-family: "raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.main-waxom-realization-your-ideas-top-part-item-p {
  color: #8c8c8c;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.main-waxom-realization-your-ideas-top-part-item:after {
  content: "";
  display: block;
  margin: 30px auto 0 auto;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.main-waxom-realization-your-ideas-top-part-item:hover:after {
  background-color: #c7b299;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.main-waxom-realization-your-ideas-top-part-item:hover .main-waxom-realization-your-ideas-top-part-item-span {
  color: #c7b299;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.main-waxom-realization-your-ideas-top-part-item:hover .main-waxom-realization-your-ideas-top-part-item-svg {
  fill: #c7b299;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.main-waxom-realization-your-ideas-bottom-part {
  background-color: #fbfaf8;
  padding: 83px 0 0 0;
  min-width: 1170px; }

.main-waxom-realization-your-ideas-bottom-part-text {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-waxom-realization-your-ideas-bottom-part-text-span {
  color: #555555;
  font-family: "raleway", sans-serif;
  font-size: 30px;
  font-weight: 600; }

.main-waxom-realization-your-ideas-bottom-part-text-p {
  color: #8c8c8c;
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  width: 770px;
  margin: 0; }

.main-waxom-realization-your-ideas-bottom-part-img {
  margin: 40px auto 0 auto;
  width: 1230px;
  height: 482px;
  position: relative;
  background-image: url("../img/browser-center.png"), url("../img/browser-left.png"), url("../img/browser-right.png");
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right; }

.main-some-advertising-bg {
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }

.main-some-advertising {
  width: 1170px;
  height: 53px;
  margin: 0 auto;
  padding: 49px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-some-advertising-some-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-some-advertising-some-txt-h2 {
  margin: 0;
  height: 27px;
  color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 28px;
  font-weight: 400; }

.main-some-advertising-some-txt-h2-span {
  color: #c7b299; }

.main-some-advertising-some-txt-p {
  margin: 0;
  color: #615855;
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300; }

.main-some-advertising-a {
  text-decoration: none;
  color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  padding: 19px 29px 20px 28px; }

/*# sourceMappingURL=style.css.map */