@mainWidth: 1180px;
@specialBlueColor: #445161;
body {
    min-width: @mainWidth;
    font-family: Arial;
}
header {
    background-color: @specialBlueColor;
    padding: 50px;
    aside {
        width: @mainWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-side {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span {
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                color: #ffffff;
                font-size: 60px;
                font-weight: 400;
                margin: 0 0 20px 0;
            }
            ul {
                min-height: 127px;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                color: #ffffff;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                margin: 0;
                li {
                    list-style-image: url("../img/check_icon.png");
                }
            }
        }
        img {
            width: 469px;
            height: 214px;
        }
    }
}
main {
    .preview {
        margin: 0 auto;
        width: @mainWidth;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        span {
            margin: 0 0 30px 0;
            color: @specialBlueColor;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
        }
        .left-side {
            p {
                margin: 0;
                width: 670px;
                color: #333333;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }
            p:nth-child(2) {
                margin: 0 0 20px 0;
            }
        }
        img {
            width: 430px;
            height: 245px;
        }
    }
    .advantages {
        background-color: #f5f5f5;
        padding: 50px 0 30px;
        box-sizing: border-box;
        // details summary::-webkit-details-marker {
        //     display:none;
        // }
        span {
            margin: 0 0 20px 0;
            color: @specialBlueColor;
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
        }
        ul {
            width: @mainWidth;
            margin: 0 auto;
            display: flex;
            flex-flow: wrap;
            // justify-content: space-between;
            // Тут с jcsb выходит между li 
            li::before {
                content: url('../img/Layer_2.png');
                background-color: @specialBlueColor;
                padding: 7px;
                display: block;
                height: 20px;
                margin: 5px 7px 0 0;
            }
            li {
                margin: 0 20px 20px 0;
                width: 570px;
                display: flex;
                justify-content: start;
                list-style-type: none;
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                // margin: 0 был убран из-за того, что был убран тег p
            }
        }
    }
    .screenshots {
        width: @mainWidth;
        margin: 0 auto;
        padding: 50px 0 30px;
        &-span {
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            color: @specialBlueColor;
            // text-align: center;
            display: flex;
            justify-content: center;
            margin: 0 0 20px 0;
        }
        div {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            figure {
                display: flex;
                width: 575px;
                margin: 0 0 20px 0;
                img {
                    margin: 0 15px 0 0;
                    width: 200px;
                    height: 150px;
                }
                .screenshots-description {
                    span {
                        text-align: left;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 30px;
                        color: @specialBlueColor;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #333333;
                        margin: 0;
                    }
                }
            }
        }
    }
    .reviews {
        background-color: #f5f5f5;
        padding: 50px 0 26px;
        span {
            color: @specialBlueColor;
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            margin: 0 0 20px 0;
        }
        div {
            width: @mainWidth;
            margin: 0 auto;
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            .reviews-block {
                margin: 0 0 24px 0;
                width: 500px;
                display: flex;
                img {
                    height: 75px;
                    width: 75px;
                    margin: 0 23px 0 0;
                }
                p {
                    padding: 16px 20px;
                    margin: 0;
                    background-color: #ebebeb;
                    border-radius: 8px;
                    width: 402px;
                    max-height: 160px;
                    font-weight: 400;
                    box-sizing: border-box;
                    position: relative;
                    font-style: italic;
                    line-height: 18px;
                    font-size: 14px;
                    span {
                        margin: 5px 0 0 0;
                        color: #989898;
                        font-style: normal;
                        font-size: 14px;
                        font-weight: 400;
                        display: flex;
                        justify-content: flex-start;
                    }
                }
                p:before {
                    content: "";
                    display: block;
                    border: 14px solid transparent;
                    border-right: 14px solid #ebebeb;
                    position: absolute;
                    top: 25px;
                    left: -27px;
                }
            }
        }
    }
    .buy-it-now {
        padding: 50px 0;
        margin: 0 auto;
        width: @mainWidth;
        span {            
            color: @specialBlueColor;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            text-align: center;
            display: flex;
            justify-content: center;
            margin: 0 0 20px 0;
        }
        #prices {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            margin: 0;
            section {
                background-color: @specialBlueColor;
                width: 300px;
                border: 2px solid @specialBlueColor;
                border-radius: 8px;
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                span {
                    color: #ffffff;
                    font-size: 24px;
                    font-weight: 400;
                    padding: 17px;
                    box-sizing: border-box;
                    width: 100%;
                    display: block;
                    margin: 0;
                }
                .price {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 18px;
                    color: @specialBlueColor;
                    background-color: #fff;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: center;
                    margin: 0;
                }
                ol {
                    list-style-position: inside;
                    padding-left: 20px;
                    margin: 10px 0 0 0;
                    box-sizing: border-box;
                    li {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
                .buy-btn {
                    margin: 20px auto;
                    text-transform: uppercase;
                    color: @specialBlueColor;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                    padding: 14px 112px;
                    background-color: #fff;
                    border-radius: 8px;
                }
                .buy-btn:hover {
                    background-color: @specialBlueColor;
                    color: #ffffff;
                }
                .buy-btn:active {
                    -webkit-box-shadow: 0px 0px 10px 5px rgba(135,135,135,1);
                    -moz-box-shadow: 0px 0px 10px 5px rgba(135,135,135,1);
                    box-shadow: 0px 0px 10px 5px rgba(135,135,135,1);
                }
            }
        }
    }
    .contacts {
        background-color: @specialBlueColor;
        padding: 50px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        span {
            color: #ffffff;
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            text-align: center;
            margin: 0 0 20px 0;
        }
        .info {
            width: 785px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            form {
                width: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                input {
                    padding: 14px 10px;
                    width: 478px;
                    color: @specialBlueColor;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 0 0 22px 0;
                    border: 1px solid @specialBlueColor;
                    border-radius: 8px;
                    display: block;
                }
                input:focus {
                    color: #000000;
                }
                input[type='name'] {
                    text-transform: capitalize;
                }
                textarea {
                    width: 100%;
                    height: 172px;
                    box-sizing: border-box;
                    resize: none;
                    padding: 13px 10px;
                    color: @specialBlueColor;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    border-radius: 8px;
                    display: block;
                }
                textarea:focus {
                    color: #000000;
                }
                input[type="submit"] {
                    display: block;
                    text-decoration: none;
                    color: @specialBlueColor;
                    margin: 21px auto 0 auto;
                    background-color: #fff;
                    outline: none;
                    border: 1px solid #ffffff;
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-transform: uppercase;
                    text-align: center;
                    width: 140px;
                }
                input[type="submit"]:hover {
                    background-color: @specialBlueColor;
                    color: #ffffff;
                }
                input[type="submit"]:active {
                    -webkit-box-shadow: 0px 0px 10px 5px rgba(135,135,135,1);
                    -moz-box-shadow: 0px 0px 10px 5px rgba(135,135,135,1);
                    box-shadow: 0px 0px 10px 5px rgba(135,135,135,1);
                }
            }
            .right-side-con {
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                height: 185px;
                width: 250px;
                .our-info {
                    display: flex;
                    align-items: center;
                    max-height: 50px;
                    margin: 0 0 0 5px;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                }
                .our-info:nth-child(1):before {
                    content: url('../img/skype_icon.png');
                    margin: 7px 5px 0 0;
                }
                .our-info:nth-child(2):before {
                    content: url('../img/icq_icon.png');
                    margin: 7px 5px 0 0;
                }
                .our-info:nth-child(3):before {
                    content: url('../img/email_icon.png');
                    margin: 7px 5px 0 0;
                }
                .our-info:nth-child(4):before {
                    content: url('../img/phone_icon.png');
                    margin: 7px 5px 0 0;
                }
                .logos {
                    margin: 30px 0 0 0;
                    display: flex;
                    justify-content: space-between;
                    a {
                        font-size: 21px;
                        background-color: #ffffff;
                        color: @specialBlueColor;
                        width: 42px;
                        height: 42px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        border-radius: 50%;
                    }
                    a:hover {
                        background-color: @specialBlueColor;
                        color: #ffffff;
                    }
                }
            }
        } 
    }
}
footer {
    padding: 3px;
    font-size: 12px;
    color: @specialBlueColor;
    text-align: center;
    a {
        text-decoration: none;
        color: @specialBlueColor;
    }
}