@mainWidth: 1180px;
@specialBlueColor: #445161;

* {
    margin: 0;
    padding: 0;
}
body {
    min-width: @mainWidth;
}
header {
    background-color: @specialBlueColor;
    padding: 50px;
    aside {
        width: @mainWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-side {
            height: 222px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1 {
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                color: #ffffff;
                font-family: "Arial MT";
                font-size: 60px;
                font-weight: 400;
            }
            ul {
                margin-left: 36px;
                height: 127px;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
                color: #ffffff;
                font-family: "Arial MT";
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                li {
                    list-style-image: url("img/check_icon.png");
                }
            }
        }
    }
}
main {
    .preview {
        margin: 0 auto;
        width: @mainWidth;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        h1 {
            margin-bottom: 30px;
            color: @specialBlueColor;
            font-family: "Arial MT";
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
        }
        p {
            margin-top: 20px;
            width: 670px;
            // Не знаю как префиксами поправить для хрома и оперы, но значение ширины им будет 570px, сам делал на ff
            color: #333333;
            font-family: "Arial MT";
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    .advantages {
        background-color: #f5f5f5;
        padding: 50px 0;
        h1 {
            color: @specialBlueColor;
            display: flex;
            justify-content: center;
            font-family: "Arial MT";
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
        }
        section {
            width: @mainWidth;
            margin: 0 auto;
            display: flex;
            flex-flow: wrap;
            div {
                margin-top: 30px;
                width: 570px;
                display: flex;
                justify-content: left;
                i {
                    height: 22px;
                    width: 22px;
                    margin-top: 2px;
                    padding: 7px;
                    margin: 5px 9px 0 0;
                    font-size: 20px;
                    color: #ffffff;
                    background-color: @specialBlueColor;
                }
                p {
                    color: #333333;
                    font-family: "Arial MT";
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
    .screenshots {
        width: @mainWidth;
        margin: 0 auto;
        padding: 50px 0;
        h1 {
            font-family: "Arial MT";
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            color: @specialBlueColor;
            text-align: center;
        }
        div {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            article {
                display: flex;
                width: 575px;
                margin: 30px 0 15px;
                figure {
                    margin: 5px 15px 0;
                }
                div {
                    h1 {
                        height: 25px;
                        font-family: "Arial MT";
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                        color: @specialBlueColor;
                    }
                    p {
                        font-family: "Arial MT";
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        color: #333333;
                    }
                }
            }
        }
    }
    .reviews {
        background-color: #f5f5f5;
        padding: 50px 0;
        h1 {
            color: @specialBlueColor;
            display: flex;
            justify-content: center;
            font-family: "Arial MT";
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
        }
        div {
            width: @mainWidth;
            margin: 0 auto;
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            section {
                width: 575px;
            }
        }
    }
    .buy-it-now {
        padding: 50px 0;
        margin: 0 auto;
        width: @mainWidth;
        float: bottom;
        h1 {
            color: @specialBlueColor;
            font-family: "Arial MT";
            font-size: 30px;
            font-weight: 400;
            line-height: 36px;
            text-align: center;
            margin-bottom: 30px;
        }
        div {
            display: flex;
            justify-content: space-around;
            section {
                background-color: @specialBlueColor;
                width: 300px;
                h1 {
                    color: #ffffff;
                    font-family: "Arial MT";
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }
}